<div class="column">
	<span data-doge-count="doge"></span><br />
	<span data-doges-per-second="doge"></span><br />
	<a title="Such Clicker" data-doge-clicker="doge">
	<img id="clickme" src="img/doge-regular.png" />
	</a>
</div>
<div class="column" data-doge-itams="doge">
<div id="wowinventory"></div>
</div>
<div class="column" >
<div>
	<a class="choose" data-show="upgrade" href="#">Much Doge</a>|
	<!--a class="choose" data-show="boost" href="#">Wow Boosts</a-->
</div>
<div data-doge-upgrades="doge"></div>
<!--div data-doge-boosts="doge" id="boost"><h2>No boosts yet.</h2></div-->
</div>