html,body {
	background-color: #FFFFCC;
	font-family:Comic Sans MS, Comic Sans, Chalkboard, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}
#topbar {
	width: 100%;
	height: 10%;
	background-color: black;
	color:purple;
}
#clickme {
	width: 128px;
	height: 128px;
	cursor: pointer;
}
#suchContainer {
	width: 100%;
	height: 90%;
}
#wowinventory {
	position: relative;
	height: 50%;
}
#boost {
	display: none;
}
.choose {
	color: black;
}
.inventoryItem{
	min-width: 100%;
	height: 40px;
}
.column {
	min-width: 25.33%;
	min-height: 99%;
	float:left;
	height: 90%;
}
.column:nth-child(2){
	border-right: 1px solid black;
	border-left: 1px solid black;
	width: 45%;
}
.upgrade {
	height: 64px;
	max-height: 64px;
	padding-bottom: 5px;
}
.upgrade:hover {
	cursor: pointer;
	background-color: #F0F0F0;
}
.smallicon {
	width: 32px;
	height: 32px;
	position: absolute;
}
.icon {
	height: 70px;
	margin-bottom: -5px;
	width: 64px;
	float: left;
}
.price, .name {
	vertical-align: middle;
	line-height: 70px;
	margin-bottom: -5px;
	float:right;
}
.name {
	float: left;
}