body {
  overflow: hidden;
  width: 100%;
  min-width: 100%;
  background-color: #346578;
}
div,body {
  margin: 0;
  padding: 0;
}
#container {
  width: 100%;
  min-width:100%;
  background-color: #346578;
  height: 32px;
  overflow: hidden;
}
#controls {
  height: 32px;
  float: left;
  background-color: #346578;
}
#genre {
  background-color: #346578;
  border-width:  2px;
  border-color: black;
  border-style: solid;
  width: 256px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}
a,a:visited{
  color: #FFDC00;
}
#playing{
  position: absolute;
  top:10%;
  left:0;
}
#now,.comment {
  color: #FFDC00;
  float: left;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  margin-top:10px;
}
#play,#pause, #next {
  background-color: #346578;
  border:  none;
  display: none;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
#badges {
  float: right;
  height: 32px;
  height: 40px;
  background-color: #346578;
}
#controls {
  z-index: 1;
  float: left;
  /*position:absolute;
  top:0;
  left:0;*/
}
#volume {
  width:200px;
}
#viz {
  z-index: -999;
  position: relative;
  top:0;
  left: 0;
}